
/* Slider */

.slider-wrapper{
  position: relative;
  width: 100%;
  
  overflow: hidden;
  z-index: 1;
  margin-top: -120px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
  max-width: 100%;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-slide > .slick-slider-img {
  position: relative;
  display: block;
  width: 100%;
}

.slick-slide .image {
  /*height: 180px;*/
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide img.slick-loading {
  display: none;
}


.slick-prev{
  background: #DDD;
  border: none;
  border-radius: none;
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  left: 0;
  padding: 0.25em 0.5em;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  z-index: 400;
}

.slick-next{
  background: #DDD;
  border: none;
  border-radius: none;
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  right: 0;
  padding: 0.25em 0.5em;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  z-index: 400;
}

/* progress bar */
.slider-progress {
  width: 100%;
  height: 10px;
  background: rgba(255,255,255,0.5);
  
  bottom: 0;
}
.slider-progress .progress {
  width: 0%;
  height: 10px;
  background: #233142;
}

.image {
  width: 100%;
  height: 500px;
  background-image: url(../img/slider1.jpg);
 
}

.image1 {
  width: 100%;
  height: 500px;
  background-image: url(../img/slider2.jpg);
}

.image2 {
  width: 100%;
  height: 500px;
  background-image: url(../img/slider4.jpg);
}


.slick-slider-img {
  font-family: 'Poppins', sans-serif;
    font-size: 66px;
    font-weight: 400;
    line-height: 70px;
  width: 50%;
  padding-top: 250px;
  padding-left: 70px;
  text-shadow: 0px 0px 6px rgba(44, 121, 237, 0.7);
  z-index: 20;
}