

body {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    background-color: rgb(215, 244, 215);
}
.header_wrapper {
    max-width: 1920px;
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
    border-bottom: 0.5px solid darkgreen;
    background: url(/img/main.jpg) no-repeat;
    background-size: cover;

    
   
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
  
}
.slide-toggle {
    display: flex;
   flex-direction: column;
    width: 70%;
    overflow: hidden;
    transition: all 1.5s; 
    z-index: 2;
    background-color: white;
  }
  


.nav__about,
.nav__call {
    font-size: 32px;
    color: rgb(1, 45, 21);
    text-decoration: none;
    width: 15%;
    text-align: center;
    font-family: 'Oswald', sans-serif;

    
    
  
}
.nav__about {
    height:99%;
    background: linear-gradient(180deg, rgba(31, 87, 70, 0), rgba(1, 55, 39, 0));
}

.nav__about:hover{
    background: linear-gradient(180deg, rgba(31, 87, 70, 0), rgba(1, 55, 39, 0));
    list-style: none;
}
.nav__about:active {
    background: linear-gradient(180deg, rgba(31, 87, 70, 0), rgba(1, 55, 39, 0));;
}
i {
    text-decoration: none;
}
i:hover {
    color:lightgreen;
    list-style: none;
}

.nav__about {
    padding-top: 20px;
}

.footer-wrapper {
max-width: 1920px;
}

footer {
    margin-top: 48%;
    width: 100%;
    display: flex;
	height: 80px;
}
.btn {
    border: none;
}
.btn:hover {
    outline: none;
}

.btn:focus {
    outline: none;
}
.btn__img {
    width: 80px;
    height: 80px;
}

.btn__img:hover {
    opacity: 0.5;
}
.content-wrapper {
    max-width: 1920px;
    width:100%;
}
.content {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
}
.content__title_pos
{margin-top: 0.2em;}

.content__title {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 57px;
    text-align: center;
}

.slide-toggle li
{
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}
.slide-toggle p
{
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}

.slide-toggle h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    color: green;
}

span {
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    color: darkgreen  
}
.content__main_pos {
    margin-left: 35%;
    padding-top: 13em;
    padding-bottom: 25em;
}
.content__main li{
    
    width: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    flex-wrap:wrap;
  line-height: 40px;
    color: rgb(1, 52, 1);
}
.advantages_pos,
.info_pos,
.reviews_pos,
.brands-logo_pos {
    margin-top: 200px;
    
}

.advantages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.advantages__title,
.reviews__title,
.about__title,
.blog__title,
.brands__title  {
   
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    padding: 40px;
    color: white;
    background-color: rgb(92, 138, 92);

}
.experience_pos,
.about__main_pos,
.blog__main_pos,
.slide_pos,
.brands_pos {
    margin-top: 50px;
}
.experience {
   
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

.experience img {
    width: 100%;

}

.experience p {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding: 30px;
    color: darkgreen; 
   

}

.nav__img {
    padding-top: 15px;
    width: 15%;
}

* {
    box-sizing: border-box;
  }
  .info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .about,
  .blog {
      width: 43%;
      flex-direction: column;
      
  }

  .about__main {
      background-color: white;
  }
.blog__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  .ovos,
  .pmoos {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: white;
  }
.pmoos_pos {
    margin-top: 160px;
}
  .ovos img {
      width: 50%;
      
  }
  
.ovos p{
    width: 45%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 30px;
    color: darkgreen; 
}
.pmoos img {
    width: 50%;
}
.pmoos p {
    width: 45%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 30px;
    color: darkgreen; 
}
  .about-main__img {
     width: 100%;
  }
  .reviews {
      width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .slider__controllers {
    z-index: 5;
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .slider__controllers__next, .slider__controllers__previous {
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    color: darkgreen;
  }
  
  .slider__wrap {
    margin: 20px;
    width: 60%;
    height: 380px;
    position: relative;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.4s ease;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .slide-active {
    opacity: 1;
  }
  .slide:nth-child(1) {
    background: rgb(228, 245, 228);
  }
  .slide:nth-child(2) {
    background: rgb(228, 245, 228);
  }
  .slide:nth-child(3) {
    background: rgb(228, 245, 228);
  }
  .slide:nth-child(4) {
    background:rgb(228, 245, 228);
  }
  .slide:nth-child(5) {
    background: rgb(228, 245, 228);
  }
  
  .slider__dots {
    display: flex;
    justify-content: center;
  }
  
  .dot {
    background: rgb(122, 143, 122);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
  }
  
  .dot-active {
    background: darkgreen;
  }
  .brands-logo {
    display: flex;
    width: 100%;
  justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
.brands {
    width: 95%;
    background-color: white;
    justify-content: space-between;
}



.barnds__img {
    margin-top: 30px;
    width: 25%;
    padding-left: 30px;
    height: 25%;
}


.about-main__p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 30px;
    color: darkgreen; 
}