

body {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    background-color: rgb(215, 244, 215);
}
.header_wrapper {
    max-width: 1920px;
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 400px;
   
    background: url(../img/mainn.jpg) no-repeat;
    background-size: cover;

    
   
}



.slide-toggle {
    display: flex;
   flex-direction: column;
    width: 70%;
    overflow: hidden;
    transition: all 1.5s; 
    z-index: 2;
    background-color: white;
  }
  



.content-wrapper {
    max-width: 1920px;
    width:100%;
}
.content {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
}


.content__title {
    width: 20%;
    font-family: 'Oswald', sans-serif;
    font-size: 57px;
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
    line-height: 90px;
}
.content__nav 
{width: 100%;
justify-content: space-around;
display: flex;
flex-wrap: wrap;
flex-direction: row;
height: 50px;}

.content__nav a {
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: rgb(0, 21, 3);

}

.content__img {
    width: 15%;
}

.slide-toggle li
{
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}
.slide-toggle p
{
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}

.slide-toggle h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    color: green;
}

span {
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    color: darkgreen  
}

.main {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    

}
.content__main_pos {
    
    padding-top: 4em;
   
}
.content__main {
    width: 50%;
    display:flex;
    flex-direction: column;
}

.content__main li{
    
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    flex-wrap:wrap;
  line-height: 40px;
    color: rgb(1, 52, 1);
    padding-top: 20px;
}
.content__main-img {
    width: 50%;
    padding-top: 20px;
    
}

.main{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}
.our-offer_pos,
.advantages_pos,
.info_pos,
.reviews_pos,
.brands-logo_pos,
.contents_pos {
    margin-top: 200px;
    
}

.advantages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.our-offer__title,
.advantages__title,
.reviews__title,
.about__title,
.blog__title,
.brands__title,
.contents__title  {
   
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    padding: 40px;
    color: white;
    background-color: rgb(92, 138, 92);

}
.experience_pos,
.about__main_pos,
.blog__main_pos,
.slide_pos,
.brands_pos,
.inputs_pos {
    margin-top: 50px;
}
.experience {
   
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

.experience img {
    width: 100%;

}

.experience p {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding: 30px;
    color: darkgreen; 
   

}

.nav__img {
    padding-top: 15px;
    width: 15%;
}

* {
    box-sizing: border-box;
  }
  .info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .about,
  .blog {
      width: 43%;
      flex-direction: column;
      
  }

  .about__main {
      background-color: white;
  }
.blog__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  .ovos,
  .pmoos {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: white;
  }
.pmoos_pos {
    margin-top: 160px;
}
  .ovos img {
      width: 50%;
      
  }
  
.ovos p{
    width: 45%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 30px;
    color: darkgreen; 
}
.pmoos img {
    width: 50%;
}
.pmoos p {
    width: 45%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 30px;
    color: darkgreen; 
}
  .about-main__img {
     width: 100%;
  }
  .reviews {
      width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .slider__controllers {
    z-index: 5;
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .slider__controllers__next, .slider__controllers__previous {
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    color: darkgreen;
  }
  
  .slider__wrap {
    margin: 20px;
    width: 60%;
    height: 380px;
    position: relative;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.4s ease;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .slide-active {
    opacity: 1;
  }
  .slide:nth-child(1) {
    background: rgb(228, 245, 228);
  }
  .slide:nth-child(2) {
    background: rgb(228, 245, 228);
  }
  .slide:nth-child(3) {
    background: rgb(228, 245, 228);
  }
  .slide:nth-child(4) {
    background:rgb(228, 245, 228);
  }
  .slide:nth-child(5) {
    background: rgb(228, 245, 228);
  }
  
  .slider__dots {
    display: flex;
    justify-content: center;
  }
  
  .dot {
    background: rgb(122, 143, 122);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
  }
  
  .dot-active {
    background: darkgreen;
  }
  .brands-logo {
    display: flex;
    width: 100%;
  justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
.brands {
    width: 95%;
    background-color: white;
    justify-content: space-between;
}



.barnds__img {
    margin-top: 30px;
    width: 25%;
    padding-left: 30px;
    height: 25%;
}


.about-main__p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 30px;
    color: darkgreen; 
}
.contents  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.contents__img {
    width: 45%;
}
.input {
	
	z-index: 1;

	margin: 1em;
	width: 50%;

	vertical-align: top;
}

.input__field {
    width: 50%;
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 50%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */

/* Haruki */
.inputs {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.input--haruki {
    width: 50%;
	margin: 1.5em 1em 1em;
}

.input__field--haruki {
	padding: 0.4em 0.25em;
	width: 50%;
	background: transparent;
	color: #AFB5BB;
	font-size: 1em;
}

.input__label--haruki {
	position: absolute;
	width: 50%;
	text-align: left;
    pointer-events: none;
   
}

.input__label-content--haruki {
	-webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    color: darkolivegreen;
    padding: 10px;
}

.input__label--haruki::before,
.input__label--haruki::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 4px;
	background: #6a7989;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before {
	top: 0;
}

.input__label--haruki::after {
	bottom: 0;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	-webkit-transform: translate3d(0, -90%, 0);
	transform: translate3d(0, -90%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	-webkit-transform: translate3d(0, -0.2em, 0);
	transform: translate3d(0, -0.2em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}

.contents__btn_pos {
    margin-top: 100px;
    margin-left: 30px;
}

.contents__btn {
    border: 5px solid darkgreen;
    border-radius: 35px;
    width: 200px;
    height: 70px;
    background-color: rgb(18, 109, 24);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.contents__btn:hover {
    opacity:0.5;
}

.contents__btn:focus {
outline:none;
}


.footer-wrapper {
    max-width: 1920px;
    
    }
    
    footer {
        margin-top: 200px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        background-color: rgb(29, 38, 38);
    }
    
    .btn {
        border: none;
    }
    .btn:hover {
        outline: none;
    }
    
    .btn:focus {
        outline: none;
    }
    .btn__img {
        width: 80px;
        height: 80px;
    }
    
    .btn__img:hover {
        opacity: 0.5;
    }

    .column
    {
        justify-content: space-around;
        display: flex;
        width: 33%;
        flex-direction: column;
    }
    .column li {
        list-style-type: none;
        font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;

    }

    .form {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
    }

    textarea {
        width: 40%;
    }

    #toTop {
        width:120px;
      

        padding:5px;
        position:fixed;
        bottom:10px; /* отступ кнопки от нижнего края страницы*/
        right:10px;
        cursor:pointer;

        }
        .arrow {
            width: 100%;
        }